<style type="text/css">
    .about-cover {
        height: 80vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="<%- theme.profile.avatar %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only"><%- partial('_partial/post-statis') %></div>
                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>
                                <div class="social-link hide-on-large-only"><%- partial('_partial/social-link') %></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <div class="introduction center-align"><%= theme.profile.introduction %></div>
            </div>
        </div>
    </div>
</main>