<%
var archivesList = {}, lastYear = null, yearArr = [];

site.posts.sort('date').reverse().forEach(function(post) {
    var year = post.date.year();
    if (lastYear == null || lastYear != year) {
        lastYear = year;
        yearArr.push(lastYear);
    }
});

yearArr.forEach(function(year) {
    if (archivesList[year] == undefined) {
        archivesList[year] = {};
    }
    
    var monthPosts = {};
    site.posts.sort('date').reverse().forEach(function(post) {
        if (year == post.date.year()) {
            var month = post.date.format('MM');
            if (monthPosts[month] == undefined) {
                monthPosts[month] = [];
            }
            monthPosts[month].push(post);
        }
    });

    archivesList[year] = monthPosts;
});
%>

<main class="content">    
    <div id="cd-timeline" class="container">
        <% Object.keys(archivesList).reverse().forEach(function(year){  %>
        <div class="cd-timeline-img year bf-color">
            <span><%= year %></span>
        </div>
        <% Object.keys(archivesList[year]).forEach(function(month, abc){  %>
        <div class="cd-timeline-img month bf-color">
            <span><%= month %></span>
        </div>
        <% archivesList[year][month].map(function(post){  %>
        <div class="cd-timeline-block" data-aos="fade-up">
            <div class="cd-timeline-img cd-picture">
                <% if (post.img) { %>
                <img src="<%= post.img %>" class="responsive-img" alt="<%- post.title %>">
                <% } else { %>
                <img src="<%= theme.featureimg %>" class="responsive-img" alt="<%- post.title %>">
                <% } %>
            </div>
            <div class="cd-timeline-content">
                <a href="<%- config.root %><%- post.path %>">
                    <div class="article-title"><%- post.title ? post.title : __('untitled') %></div>
                </a>
                <div class="tags">
                    <% if(post.tags && post.tags.length) { %>
                    <% post.tags.forEach(tag => { %>
                    <a href="<%- url_for('/tags/#' + tag.name) %>" target="_blank">
                        <span class="tag bf-color"><%= tag.name %></span>
                    </a>
                    <% }); %>
                    <% } %>
                    <span class="cd-date"><%= post.date.format(__('date_format')) %></span>
                </div>
                
            </div>
        </div>
        <% }); %>
        <% }); %>
        <% }); %>
    </div>
</main>
