<%
var hashCode = function (str) {
    if (!str && str.length === 0) {
        return 0;
    }

    var hash = 0;
    for (var i = 0, len = str.length; i < len; i++) {
        hash = ((hash << 5) - hash) + str.charCodeAt(i);
        hash |= 0;
    }
    return hash;
};

var archivesList = {}, lastYear = null, yearArr = [];

site.posts.sort('date').reverse().forEach(function (post) {
    var year = post.date.year();
    if (lastYear == null || lastYear != year) {
        lastYear = year;
        yearArr.push(lastYear);
    }
});

yearArr.forEach(function (year) {
    if (archivesList[year] == undefined) {
        archivesList[year] = {};
    }

    var monthPosts = {};
    site.posts.sort('date').reverse().forEach(function (post) {
        if (year == post.date.year()) {
            var month = post.date.format('MM');
            if (monthPosts[month] == undefined) {
                monthPosts[month] = [];
            }
            monthPosts[month].push(post);
        }
    });

    archivesList[year] = monthPosts;
});
%>
<%- partial('_partial/bg-cover') %>

<main class="content">
    <% if (theme.postCalendar) { %>
    <%- partial('_partial/post-calendar') %>
    <% } %>

    <div id="cd-timeline" class="container">
        <% Object.keys(archivesList).reverse().forEach(function(year){ %>
        <div class="cd-timeline-img year bg-color">
            <span><%= year %></span>
        </div>
        <% Object.keys(archivesList[year]).forEach(function(month){ %>
        <div class="cd-timeline-img month bg-color">
            <span><%= month %></span>
        </div>
        <% archivesList[year][month].map(function(post){ %>
        <div class="cd-timeline-block" data-aos="fade-up">
            <div class="cd-timeline-img day bg-color">
                <span><%= date(post.date, 'YYYY-MM-DD').substring(8, 10) %></span>
            </div>
            <div class="cd-timeline-content">
                <div class="row valign-wrapper">
                    <div class="col m4 s4">
                        <% if (post.img) { %>
                        <div class="img-item" data-src="<%= post.img %>">
                            <img src="<%= post.img %>" class="archive-img" alt="<%- post.title %>"/>
                        </div>
                        <% } else { %>
                        <%
                            var len = theme.featureImages.length;
                            var num = Math.abs(hashCode(post.title) % len);
                            var featureimg = theme.featureImages[num];
                        %>
                        <div class="img-item" data-src="<%= featureimg %>">
                            <img src="<%= featureimg %>" class="archive-img thumbnail-img" alt="<%- post.title %>"/>
                        </div>
                        <% } %>
                    </div>
                    <div class="col m8 s8 article-title">
                        <a href="<%- config.root %> <%- post.path %>"><%- post.title ? post.title : __('untitled') %></a>
                        <div class="summary"><%- strip_html(post.content).substring(0, 80) %></div>
                    </div>
                </div>
                <div class="tags">
                    <% if(post.tags && post.tags.length) { %>
                    <% post.tags.forEach(tag => { %>
                    <a href="<%- url_for('/tags/#' + tag.name) %>" target="_blank">
                        <span class="tag bg-color"><%= tag.name %></span>
                    </a>
                    <% }); %>
                    <% } %>
                    <span class="cd-date"><%= date(post.date, config.date_format) %></span>
                </div>

            </div>
        </div>
        <% }); %>
        <% }); %>
        <% }); %>
    </div>
</main>
