<%
var hashCode = function(str) {
    if (!str && str.length === 0) {
        return 0;
    }

    var hash = 0;
    for (var i = 0, len = str.length; i < len; i++) {
        hash = ((hash << 5) - hash) + str.charCodeAt(i);
        hash |= 0;
    }
    return hash;
};

var archivesList = {}, lastYear = null, yearArr = [];

site.posts.sort('date').reverse().forEach(function(post) {
    var year = post.date.year();
    if (lastYear == null || lastYear != year) {
        lastYear = year;
        yearArr.push(lastYear);
    }
});

yearArr.forEach(function(year) {
    if (archivesList[year] == undefined) {
        archivesList[year] = {};
    }
    
    var monthPosts = {};
    site.posts.sort('date').reverse().forEach(function(post) {
        if (year == post.date.year()) {
            var month = post.date.format('MM');
            if (monthPosts[month] == undefined) {
                monthPosts[month] = [];
            }
            monthPosts[month].push(post);
        }
    });

    archivesList[year] = monthPosts;
});
%>

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div class="container archive-calender">
        <div class="card">
            <div id="post-calendar" class="card-content"></div>
        </div>
    </div>

    <div id="cd-timeline" class="container">
        <% Object.keys(archivesList).reverse().forEach(function(year){  %>
        <div class="cd-timeline-img year bg-color">
            <span><%= year %></span>
        </div>
        <% Object.keys(archivesList[year]).forEach(function(month){  %>
        <div class="cd-timeline-img month bg-color">
            <span><%= month %></span>
        </div>
        <% archivesList[year][month].map(function(post){  %>
        <div class="cd-timeline-block" data-aos="fade-up">
            <div class="cd-timeline-img day bg-color">
                <span><%= date(post.date, 'YYYY-MM-DD').substring(8, 10) %></span>
            </div>
            <div class="cd-timeline-content">
                <div class="row valign-wrapper">
                    <div class="col m4 s4">
                        <% if (post.img) { %>
                        <div class="img-item" data-src="<%= post.img %>">
                            <img src="<%= post.img %>" class="archive-img" alt="<%- post.title %>"/>
                        </div>
                        <% } else { %>
                        <%
                            var len = theme.featureImages.length;
                            var num = Math.abs(hashCode(post.title) % len);
                            var featureimg = theme.featureImages[num];
                        %>
                        <div class="img-item" data-src="<%= featureimg %>">
                            <img src="<%= featureimg %>" class="archive-img thumbnail-img" alt="<%- post.title %>"/>
                        </div>
                        <% } %>
                    </div>
                    <div class="col m8 s8 article-title">
                        <a href="<%- config.root %><%- post.path %>"><%- post.title ? post.title : __('untitled') %></a>
                        <div class="summary"><%- strip_html(post.content).substring(0, 80) %></div>
                    </div>
                </div>
                <div class="tags">
                    <% if(post.tags && post.tags.length) { %>
                    <% post.tags.forEach(tag => { %>
                    <a href="<%- url_for('/tags/#' + tag.name) %>" target="_blank">
                        <span class="tag bg-color"><%= tag.name %></span>
                    </a>
                    <% }); %>
                    <% } %>
                    <span class="cd-date"><%= date(post.date, config.date_format) %></span>
                </div>
                
            </div>
        </div>
        <% }); %>
        <% }); %>
        <% }); %>
    </div>
</main>

<script type="text/javascript" src="/libs/echarts/echarts.min.js"></script>
<script type="text/javascript">
    let myChart = echarts.init(document.getElementById('post-calendar'));

    function getVirtulData(year) {
        year = year || '2017';
        var date = +echarts.number.parseDate(year + '-01-01');
        var end = +echarts.number.parseDate((+year + 1) + '-01-01');
        var dayTime = 3600 * 24 * 1000;
        var data = [];
        for (var time = date; time < end; time += dayTime) {
            data.push([
                echarts.format.formatTime('yyyy-MM-dd', time),
                Math.floor(Math.random() * 5)
            ]);
        }
        return data;
    }

    var data = [['2017-03-02', 1],
        ['2017-05-06', 3],
        ['2017-08-01', 2],
        ['2017-09-06', 1],
        ['2017-10-05', 2],
        ['2017-10-16', 3],
        ['2017-10-17', 1],
        ['2017-11-25', 3],
        ['2017-09-07', 2]];

<%
    // calculate range.
    var startDate = moment().subtract(1, 'years').format('YYYY-MM-DD');
    var endDate = moment().format('YYYY-MM-DD');
    var rangeArr = '["' + startDate + '", "' + endDate + '"]';

    // post and count map.
    var dateMap = new Map();

    var dayTime = 3600 * 24 * 1000;
    var datePosts = [];
    var i = 0;
    for (var time = startDate; time <= endDate; time += dayTime) {
        i++;
        console.log(time);
        var date = moment(time).format('YYYY-MM-DD');
        datePosts.push([date, dateMap.has(date) ? dateMap.get(date) : 0]);
        if (i > 2) {
            break;
        }
    }
    console.log(datePosts);
%>

    var rang = <%- rangeArr %>;

    let option = {
        title: {
            top: 0,
            text: 'Post Calendar',
            left: 'center',
            textStyle: {
                color: '#888'
            }
        },
        tooltip: {
            padding: 10,
            backgroundColor: '#555',
            borderColor: '#777',
            borderWidth: 1,
            formatter: function (obj) {
                var value = obj.value;
                return '<div style="font-size: 14px;">' + value[0] + '：' + value[1] + '</div>';
            }
        },
        visualMap: {
            show: true,
            showLabel: true,
            categories: [0, 1, 2, 3, 4],
            calculable: true,
            inRange: {
                symbol: 'rect',
                color: ['#ebedf0', '#c6e48b', '#7bc96f', '#239a3b', '#196127']
            },
            itemWidth: 12,
            itemHeight: 12,
            orient: 'horizontal',
            left: 'center',
            bottom: 0
        },
        calendar: [{
            left: 'center',
            range: rang,
            cellSize: [13, 13],
            splitLine: {
                show: false
            },
            itemStyle: {
                borderColor: '#fff',
                borderWidth: 2
            },
            yearLabel: {
                show: false
            },
            monthLabel: {
                nameMap: 'cn',
                fontSize: 11
            },
            dayLabel: {
                formatter: '{start}  1st',
                nameMap: 'cn',
                fontSize: 11
            }
        }],
        series: [{
            type: 'heatmap',
            coordinateSystem: 'calendar',
            calendarIndex: 0,
            data: <%- datePosts %>
        }]

    };

    myChart.setOption(option);
</script>