<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>

<body>

<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<%- partial('_partial/back-top') %>

<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/aos/aos.js"></script>
<script src="/libs/scrollprogress/scrollProgress.min.js"></script>
<script src="/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="/js/matery.js"></script>

<%- partial('_partial/google-analytics') %>
<% if (theme.clicklove.enable) { %>
    <script src="/libs/others/clicklove.js"></script>
<% } %>
<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
    <script async src="/libs/others/busuanzi.pure.mini.js"></script>
<% } %>

</body>
</html>