<!DOCTYPE HTML>
<html lang="<%=config.language%>">
<head>
    <%- partial('_partial/head') %>
</head>

<body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>

    <%- partial('_partial/search') %>
    <%- partial('_partial/back-top') %>
</body>
</html>