<%
    var pageTitle = page.title || config.subtitle || '';
    if (is_archive()) pageTitle = 'Archives';
    if (is_tag()) pageTitle = 'Tag: ' + page.tag;
    if (is_category()) pageTitle = 'Category: ' + page.category;
    if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
    if (is_year()) pageTitle += ': ' + page.year;
    pageTitle += config.title;
%>
<!DOCTYPE HTML>
<html lang="<%=config.language%>">
<head>
    <%- partial('_partial/head') %>
</head>

<body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
</body>
</html>