<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>

<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<%- partial('_partial/back-top') %>

<script src="<%- theme.libs.js.materialize %>"></script>
<script src="<%- theme.libs.js.masonry %>"></script>
<script src="<%- theme.libs.js.aos %>"></script>
<script src="<%- theme.libs.js.scrollProgress %>"></script>
<script src="<%- theme.libs.js.lightgallery %>"></script>
<script src="/js/matery.js"></script>

<%- partial('_partial/google-analytics') %>
<% if (theme.clicklove.enable) { %>
    <script src="<%- theme.libs.js.clicklove %>"></script>
<% } %>
<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
    <script async src="<%- theme.libs.js.busuanzi %>"></script>
<% } %>

</body>
</html>