<%- partial('_partial/post-cover') %>

<main class="content">

    <!-- 文章内容详情 -->
    <div id="artDetail" class="container">
        <div class="card">
            <div class="card-content article-info">
                <% if (page.tags && page.tags.length) { %>
                <div class="article-tag">
                    <% page.tags.each(function(tag) { %>
                    <a href="<%- tag.permalink %>" target="_blank"><span class="chip bg-color"><%= tag.name %></span></a>
                    <% }); %>
                </div>
                <% } %>
                <div class="author-info">
                    <span>
                        <i class="fa fa-calendar fa-fw"></i><%- date(page.date, 'YYYY-MM-DD') %>
                    </span>
                </div>
            </div>
            <hr>
            <div class="card-content article-card-content">
                <div id="articleContent">
                    <%- page.content %>
                </div>
                <hr/>

                <%- partial('_partial/share') %>

                <div class="reprint">
                    <p>
                        <span class="reprint-tip"><%= __('reprint') %>: </span>
                        <a href="<%- config.url %>" class="b-link-green"><%- config.title %></a>
                        <i class="fa fa-angle-right fa-lg fa-fw text-color"></i>
                        <a href="<%- url_for(page.path) %>" class="b-link-green"><%= page.title %></a>
                    </p>
                </div>
            </div>
        </div>

        <% if (theme.gitment.enable) { %>
        <%- partial('_partial/gitment') %>
        <% } %>

        <% if (theme.disqus.enable) { %>
        <%- partial('_partial/disqus') %>
        <% } %>

        <%- partial('_partial/prev-next') %>
    </div>
</main>
