<main class="content">

    <!-- 头部融合背景标题 -->
    <div class="content-heading bf-color">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h3 class="heading"><%= page.title %></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- 文章内容详情 -->
    <div id="artDetail" class="container notice">
        <div class="card">
            <div class="card-content">
                <% if (page.tags && page.tags.length) { %>
                <div class="article-tag">
                    <% page.tags.each(function(tag) { %>
                    <a href="<%- url_for(tag.path) %>" target="_blank">
                        <span class="chip bf-color"><%= tag.name %></span>
                    </a>
                    <% }); %>
                </div>
                <% } %>
                <div class="author-info">
                    <span>
                        <a class="bf-text-gray">
                            <i class="fa fa-calendar fa-fw"></i><%- date(page.date, 'YYYY-MM-DD') %>
                        </a>
                    </span>
                </div>
            </div>
            <hr>
            <div class="card-content article-card-content">
                <div id="articleContent">
                    <%- page.content %>
                </div>
                <hr />
                <div class="reprint">
                    <p>转载请注明：<a href="<%- config.url %>" class="b-link-green"><%- config.title %></a> &raquo;
                        <a href="<%- url_for(page.path) %>" class="b-link-green"><%= page.title %></a>
                    </p>
                </div>
                <div class="article-share">
                    <div>分享到：</div>
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_24x24 jt-share">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
            </div>
        </div>

        <!-- previous page and next page -->
        <div class="prenext-card card">
            <div class="prenext-row row">
                <div class="prenext col s12 m6 l6">
                    <% if (page.prev) { %>
                    <p class="pn-title">上一篇</p>
                    <div><a href="<%- url_for(page.prev.path) %>"><%- page.prev.title %></a></div>
                    <% } %>
                </div>
                <div class="prenext col s12 m6 l6">
                    <% if (page.next) { %>
                    <p class="pn-title">下一篇</p>
                    <div><a href="<%- url_for(page.next.path) %>"><%- page.next.title %></a></div>
                    <% } %>
                </div>
            </div>
        </div>
    <!-- {{> comments}} -->
    </div>
</main>
