<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- url_for('/libs/gitment/gitment-default.css') %>">
<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- url_for('/css/gitment.css') %>">

<div class="gitment-card card" data-aos="fade-up">
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评论</span>
    </div>
    <div id="gitment-content" class="card-content"></div>
</div>

<script>
    $.getScript("<%- theme.jsDelivr.url %><%- url_for('/libs/gitment/gitment.js') %>",function () {
        var gitment = new Gitment({
            id: '<%= page.date %>',
            owner: '<%= theme.gitment.owner %>',
            repo: '<%= theme.gitment.repo %>',
            oauth: {
                client_id: '<%= theme.gitment.oauth.clientId %>',
                client_secret: '<%= theme.gitment.oauth.clientSecret %>'
            }
        });

        gitment.render('gitment-content');
    })
</script>
