<head>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= config.keywords %>, hexo-theme-matery">
    <meta name="description" content="<%= config.description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <%
        var pageTitle = page.title || config.subtitle || '';
        if (is_archive()) pageTitle = '归档';
        if (is_tag()) pageTitle = '标签: ' + page.tag;
        if (is_category()) pageTitle = '分类: ' + page.category;
        if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
        if (is_year()) pageTitle += ': ' + page.year;
        pageTitle += config.title;
    %>

    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="<%= theme.favicon %>">

    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <!-- stylesheets list from theme config.yml -->
        <% theme.stylesheets.forEach(function(url) { %>
        <link rel="stylesheet" href="<%= url %>">
        <% }); %>
    <% } %>
</head>