<header class="navbar-fixed">
    <nav id="headNav" class="bf-color nav-transparent">
        <div id="navContainer" class="container">
            <div class="nav-wrapper">
                <div class="brand-logo">
                    <a href="<%- url_for() %>" class="waves-effect waves-light">
                        <% if (theme.logo !== undefined && theme.logo.length > 0) { %>
                        <img src="<%= theme.logo %>" class="logo-img hide-on-small-only">
                        <% } %>
                        <span class="logo-span"><%- config.title %></span>
                    </a>
                </div>

                <%- partial('_partial/navigation') %>
            </div>
        </div>
    </nav>
</header>

<div class="bg-cover page-header header-filter clear-filter purple-filter" data-parallax="true" 
        style="background-image: url(&quot;/medias/bg.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
<div class="container">
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
            <div class="brand">
                <div class="title center-align"><%- config.title %></div>
                <div class="description center-align">
                <% if (config.description && config.description.length > 0) { %>
                    <%= config.description %>
                <% } else { %>
                    Never really desperate, only the lost of the soul.
                <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>